.tools img {
    height: 13rem;
}

.tool {
    display: flex;
    justify-content: center;
    align-items: center;
}

.found-indicator img {
    width: 13rem;
    height: 13rem;
}

.found-indicator {
    position: absolute;
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    background-color: #00ff2d;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);

    display: flex;
    justify-content: center;
    align-items: center;
    
    animation: pop 0.3s ease-out;
}

@keyframes pop {
  from { transform: scale(0); opacity: 0; }
  to { transform: scale(1); opacity: 1; }
}