.speechBubble {
    background-color: #fff;
    border-radius: 1rem;
    height: 9rem;
    width: 35rem;
    padding: 0.5rem;

    position: absolute;
    bottom: 20rem;
    left: 27rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

.speechBubble::after {
  content: "";
  position: absolute;
  top: 2.5rem; /* hur högt upp spetsen sitter – justerbart */
  left: -2rem; /* placera spetsen utanför vänsterkanten */
  width: 0;
  height: 0;

  border-top: 2rem solid transparent;
  border-bottom: 2rem solid transparent;
  border-right: 3rem solid #fff; /* själva triangeln */
}

.speechBubble__text {
   font-family: "Poppins", sans-serif;
   font-size: 1.7rem;
   text-align: center;
}
